﻿@model jobApplicationTracking.Models.ViewModels.DetailsUser


@{
    ViewBag.Title = "View";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-light">
                    <h4 class="card-title mb-0">@Model.SelectedUser.UserName</h4>
                </div>
                <div class="card-body">
                    <div class="mb-3"><strong>Email:</strong> @Model.SelectedUser.UserEmail</div>
                    <div class="mb-3"><strong>Portfolio Url:</strong> @Model.SelectedUser.UserPortfolioUrl</div>
                    <div>
                        <a href="/User/Edit/@Model.SelectedUser.UserId" class="btn btn-primary mr-2">Update</a>
                        <a href="/User/DeleteConfirm/@Model.SelectedUser.UserId" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title mb-4">Applied Jobs:</h5>
                    @foreach (var job in Model.AppliedJobs)
                    {
                        <div class="d-flex justify-content-between">
                            <a href="/jobApplication/Details/@job.JobApplicationID">@job.JobTitle</a>
                            <a href="/User/Unassociate/@Model.SelectedUser.UserId?JobApplicationID=@job.JobApplicationID" class="text-danger">Delete[x]</a>
                        </div>
                    }
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="mb-4">Apply for New Jobs</h4>
                    <form method="POST" action="/User/Associate/@Model.SelectedUser.UserId">
                        <select name="JobApplicationID" class="form-select" aria-label="Select Job" aria-describedby="jobDropdown">
                            @foreach (var job in Model.AvailableJobs)
                            {
                                <option value="@job.JobApplicationID">@job.JobTitle</option>
                            }
                        </select>
                        </br>
                        <button type="submit" class="btn btn-primary">Apply</button>
                    </form>
                </div>
            </div>
            <a href="/User/List" class="btn btn-secondary mt-3">Go back to list</a>
        </div>
    </div>
</div>



